:root {
    --brand-color: #4D5AE5;
    --default-text-color: #2E2F42;
    --link-color_hover: #404BBF;
    --text-color: #434455;
    --h1-color: #fff;
    --background-color: #fff;
    --section-background-color: #f4f4fd;
    --accent-color: #E7E9FC;
    --nav-bottom-border: #e7e9fc;
}

.title .title-h2 .title-h3 .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.main-contacts {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.button-bar ul il :hover {
    background-color: #404BBF;
    cursor: pointer;
}

.main-contacts :hover {
    color: #404BBF;
    cursor: pointer;
}

.top-nav :hover {
    cursor: pointer;
}

.top-nav {
    padding-right: 600px;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin: 0 auto;
    justify-content: center;
}

.text {
    font-style: normal;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin: 0 auto;
    width: 1200px;
    height: 78px;
    position: fixed;
    background-color : #fff;
}

ul {
    list-style-type: none;
}

.main-contacts {
    display: flex;
    flex-wrap: wrap;
}

.top-nav li,
.main-contacts li {
    padding-left: 40px;
    flex-grow: 1;
}

.top-nav a,
.main-contacts a,
.container-logo a {
    text-decoration: none;
}

.logo-text {
    color: var(--brand-color);
}

.logo a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--default-text-color);
}

.container-logo {
    display: flex;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0.03em;
}

.main-section {
    height: 600px;
    background-color: #2E2F42;
    border-radius: 0;
    flex-direction: column;
    margin: 0 auto;
}

.h1-text {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    width: 54pc;
    margin-left: 165px;
    display: flex;
    padding-top: 8pc;
}

.service-button {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    border-radius: 4%;
    padding: 16px 32px;
    width: 169px;
    height: 56px;
    margin-left: 500px;
    cursor: pointer;
    color: white;
}

.content {

    height: 2592px;
    margin: 0 auto;

}

.main-content {
    margin: 0 auto;
}

.cards-spacing ul li h4 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 17px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.cards-spacing ul li p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.text-cards {
    display: flex;
    justify-content: center;
    margin-left: 7pc;
    margin: 0 auto;
    height: 104px;
    margin-top: 5pc;
}

.cards-spacing ul {
    display: flex;
    justify-content: flex-end;
}

.images-card {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.images ul {
    width: 1128px;
    height: 409px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.title h1{
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-left: 5pc;
    margin: 0 auto;
}

.images {
    margin-top: 10pc;
}

.tird-container {
    margin: 0 auto;
    height: 732px;
    background: #f4f4fd;
}

.last-section {
    display: flex;
    justify-content: center;

}

.img {
    width: 264px;
    height: 260px;
}

.name {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 17px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.job-description {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    display: flex;
    justify-content: center;
}

.teamcard-1 {
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.teamcard-2 {
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.teamcard-3 {
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.teamcard-4 {
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 380px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.our-team {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    height: 10px;
    margin-left: 7pc;
    margin-top: 12pc;

}

.last-section {
    display: flex;
    justify-content: center;
    margin-right: 40px;
}

.last-section ul {
    margin-top: 5pc;
}

.footer {
    margin: 0 auto;
    height: 312px;
    background: #2e2f42;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    text-decoration: none;
}

.left-blue {
    color: #4d5ae5;
}

.right-black {
    color: #f4f4fd;
}

.footer p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-container {
    width: 264px;
    height: 112px;
    padding-top: 7pc;
    padding-left: 8pc;
}

.buttons {
    width: 601px;
    height: 48px;
}

.filter-button1 {
    border: 1px solid var(--cornflower);
    border-radius: 4px;
    padding: 12px 24px;
    width: 69px;
    height: 48px;
    background: #E7E9FC;
}

.filter-button2 {
    border: 1px solid var(--cornflower);
    border-radius: 4px;
    padding: 12px 24px;
    width: 116px;
    height: 48px;
    background: #E7E9FC;
}

.filter-button3 {
    border: 1px solid var(--cornflower);
    border-radius: 4px;
    padding: 12px 24px;
    width: 78px;
    height: 48px;
    background: #E7E9FC;
}

.filter-button4 {
    border: 1px solid var(--cornflower);
    border-radius: 4px;
    padding: 12px 24px;
    width: 116px;
    height: 48px;
    background: #E7E9FC;
}

.filter-button5 {
    border: 1px solid var(--cornflower);
    border-radius: 4px;
    padding: 12px 24px;
    width: 126px;
    height: 48px;
    background: #E7E9FC;
}

.button-bar ul {
    display: flex;
    justify-content: space-between;
    width: 601px;
    height: 48px;
    padding-left: 40pc;
    margin-top: 8pc;
}

.cardrow {
    display: flex;
    justify-content: center;
    padding-top: 5pc;
    width: 1124px;
    height: 420px;
    margin: 0 auto;
    list-style-type: none;
    align-items: center;
    margin-top: 7pc;
}

.h3p {
    padding: 0px 16px;
    width: 360px;
    height: 56px;

}

.cardrow1 {
    display: flex;
    justify-content: center;
    padding-top: 5pc;
    width: 1124px;
    height: 420px;
    margin: 0 auto;
    list-style-type: none;
    align-items: center;
    margin-bottom: 12pc;
    margin-top: 7pc;
}

.footer {
    height: 390px
}

svg {
    width: 20px;
    height: 20px;
}

.icons-list {
    display: flex;
    justify-content: space-around;
}

.icons-list a {
    width: 40px;
    height: 40px;
    background: #4d5ae5;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
}

.icons-list :hover,
.icons-list :focus {
    background-color: #31D0AA;
}

.customers {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    padding-bottom: 3pc;
    padding-left: 4pc;
}

.clients svg {
    width: 168px;
    height: 88px;
    color: #8E8F99;
    border: 1px solid black;
    margin-right: 20px;
    cursor: pointer;
}

.clients {
    display: flex;
    justify-content: center;
    margin-left: 6pc;
}

.container-customers {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10pc;
    padding-top: 5pc;
}

.clients :hover,
.clients :focus {
    color: #4D5AE5;
}

.footer-links {
    width: 208px;
    height: 84px;
    padding-left: 10pc;
}

.footer-links h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.top-buttons {
    width: 261px;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 5pc
}

.active {
    border-bottom: 2px solid;
    padding-bottom: 15px;
    border-radius: 2px;
    width: 48px;
    height: 4px;
    color: #404bbf;
}
.fixed {

    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.main-section {
   
    margin: 0 auto;

}
.img-overlay {
    position: relative;
    overflow: hidden;
}
.overlay {
    display: flex;
    justify-content: center;
    position: absolute;
    height: 300px;
    top: 294px;
    background-color: #4D5AE5;
    width: 360px;
    transform: translatey(100%);
    transition: transform 250ms ease-in-out;
    opacity: 1;
    color: #fff;
}
.img-overlay:hover .overlay {
    transform: translatey(0);
    top: 0pc;
  }
  .is-hidden {
    visibility: hidden;
 }

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2e2f42d2;
}
.modal-content {
    margin: 0 auto;
    padding: 16px;
    background-color: #fff;
    width: 50%;
    height: 50%;
    position: relative;
}
.close-btn {
    background-color: red;
    border-radius: 50%;
    color: #fff;
    outline: none;
    position: absolute;
    top: 24px;
    right: 24px;
}
.text-cards svg {
    width: 264px;
    height: 112px;
}
